body {
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(135deg, #95FFFF, #FFA27B);
    background-size: cover;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    position: relative;
    line-height: 1.6;
}

.header {
    display: grid;
    place-items: center;
}

.header img {
    width: 90vmin;
}

.header-explanation {
    padding: 2em;
    text-align: center;
    max-width: 45em;
}

.nav {
    display: flex;
    justify-content: center;
    padding: 0 1em;
    position: sticky;
    top: 0;
}

.nav-brand img {
    max-height: 4rem;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
}

.nav-menu li {
    list-style: none;
}

.nav-menu li a {
    padding: 0.3em 0.7em;
    font-weight: 700;
    text-decoration: none;
    border-radius: 2em;
    text-transform: uppercase;
    color: #EC4E20;
}

.nav-menu li a.important {
    background-color: #EC4E20;
    color: #F0F0F0;
}

.decoration {
    position: fixed;
}

.decoration_top-left {
    left: 0;
    top: 0;
    z-index: -1;
    width: 50vmin;
}

.decoration_top-right {
    right: 0;
    top: 0;
    z-index: -1;
    width: 10vmin;
}

.decoration_bottom-left {
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 10vmin;
}

.highlight {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    text-align: center;
}

.highlight .moluccas {
    background-image: linear-gradient(#4693D1, #764396);
}

.highlight .digifest {
    background-image: linear-gradient(#EC4E20, #FAC413);
}

@media screen and (max-width: 40em) {
    .smll-hide {
        display: none;
    }
}